%h1
  Edit
  = collection_class.name

- build_form( current_object, :method => :put ) do |f|
  - f.fields.each do |field|
    %p.form-field{ field.required? ? {:class => 'required'} : {} }
      = control_for field

  = submit "Update"

- build_form( current_object, :method => :delete ) do |f|
  .delete
    = submit "Delete"
