%h1
  New
  = current_object.class.name.humanize
 
= haml :'_errors.html', {}, :error_objects => [ current_object ]

- build_form( current_object ) do |f|
  - f.fields.each do |field|
    %p.form-field{ :class => field_class( field ) }
      = control_for field

  = submit "Create"
