%input{ :name => field.name, :type => 'hidden' }
%input{ {:id => field.id, :name => field.name, :type => 'checkbox', :value => field.options[:label] }.merge( field.value ? { :checked => 'checked' } : {} ).merge(field.html_options)}
= haml :'controls/label.html', {}, :field => field
