= haml :'controls/label.html', {}, :field => field
%select{ { :name => field.name, :id => field.id }.merge(field.html_options) }
  - if field.options[:include_blank]
    %option{ :value => '' }
      - if field.options[:include_blank] != true
        = field.options[:include_blank]

  - field.select_options.each do |option_value|
    - if field.value == option_value
      %option{ :value => option_value, :selected => 'selected' }= option_value
    - else 
      %option{ :value => option_value }= option_value

